<div class="container">
    <h1>이번주 로또 추첨 결과입니다.</h1>
    <p><%= "이번주 로또 번호는 #{@drw_numbers} 이고, 보너스 번호는 #{@bonus_number} 입니다." %></p>
	<!-- 밑에 추첨한 로또 번호, 겹치는 번호, 결과를 출력해주세요.-->
	<p><%= "구매하신 로또 번호는 #{@my_numbers} 이고, 겹치는 번호는 #{@right_numbers} 입니다." %></p>

	<p><%= "당첨 결과는 #{@result} 입니다." %></p>
</div>